<?xml version="1.0" encoding="UTF-8" ?>
<suite name="katya">
    <test name="testTrying">
        <parameter name="BROWSER" value="FIREFOX"/>
        <parameter name="AUTHORIZATION" value="false"/>
        <classes>
            <class name="baseTest.Start"/>
            <class name="tests.functionalTests.UserTests"/>
        </classes>

    </test>
</suite>