<?xml version="1.0" encoding="UTF-8" ?>
<suite name="katya">
    <test name="User_FIREFOX">
        <parameter name="BROWSER" value="FIREFOX"/>
        <parameter name="AUTHORIZATION" value="true"/>
        <classes>
            <class name="baseTest.Start"/>
            <class name="tests.functionalTests.Comercial"/>
        </classes>
    </test>

</suite>